.card-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  .image-wrap{
    margin: 10px auto;
    img {
      width: 180px;
      height: 180px;
    }
  }
  p {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
