.container {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  width: 85%;
  .userInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    .wrapAddNote {
      display: flex;
      justify-content: space-between;
      margin-right: 5%;
    }
  }
  .profileInfo {
    width: 30%;
  }
  .photo {
    width: 100%;
    height: 30%;
    margin-bottom: 30px;
    display: flex;
    img {
      display: block;
      max-width: 100%;
      max-height: 300px;
    }
  }
  .profileData {
    margin: 0 auto;
    width: 100%;
    color: black;
    font-family: Arial Black;
    font-size: 15px;
    width: 100%;
    td {
      padding: 15px 0px;
      padding-left: 15px;
    }
    tr:nth-child(odd) {
      background-color: #9fc7ff;
    }
    td:last-child {
      padding-left: 25px;
      word-break: break-all;
      width: 60%;
    }
    .personData {
      background-color: #ecefff;
      margin-bottom: 10px;
      border-collapse: collapse;
      width: 100%;
    }
  }
}
